@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/Bebas_Neue.ttf') format('truetype');
}


:root {
  --fs: 16px;
  --ff: "Inter", sans-serif;
  --ff-2: "Bebas Neue", sans-serif;
  --fw: 400;
  --clr-bg: #090110;
  --clr-text:#fff;
}
body {
  margin: 0;
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw);
  background-color: var(--clr-bg);
  color: var(--clr-text);
  overflow-x: hidden;
}


.container {
  width: min(100% - 50px, 1500px);
  margin: 0 auto;
}


@media (max-width: 794px){
 .container{
  width: min(100% - 20px, 1500px);
 }
}