
.block{
    width: 100%;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
.block:nth-child(1){
    margin-bottom: 0;
}
.wrapperSubtitle {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 50px 0;
}
.wrapperSubtitle div {
  width: 50%;
}
.photo {
  width: 100%;
  margin-bottom: 150px;
  object-fit: cover;
}


@media (max-width:980px){
  .block{
    margin-bottom: 60px;
  }

  .wrapperSubtitle{
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .col{
    max-width: 100%;
  }
  .wrapperSubtitle div{
    width: 100%;
  }
  .photo{
    width: 100%;
    margin-bottom: 0;
    aspect-ratio: 1 / 1;
  }
}
