.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btns{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.btn{
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-family: var(--ff);
    font-weight: var(--fw);
    font-size: var(--fs);
    padding:3px 5px;
    text-transform: capitalize;
}
.btn:hover{
    background: #fff;
    color: var(--clr-bg);
    border-radius: 5px;
}
.active{
    background: #fff;
    color: var(--clr-bg);
    border-radius: 5px;
}